*{
box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: color-mix(in hsl shorter hue, color percentage, color percentage);
}

/* NAvigation Bar */
nav{
    margin-left:auto;
    margin-right:auto;
    
}

nav.navbar.navbar-expand-lg{
    background-color: #130606 ;
    width: 100%;
    transition: all 0.5s;
    z-index: 997;
    padding: 0;
    height: 1.5;
    padding: 10px;
}

a.navbar-brand{
    padding-left: 0;
}

a.navbar-brand h3{
    color:#fcd5a2;
    font-weight:light;
    font-style: italic;
}

a.nav-link{
    color:rgb(255, 255, 255);
    padding-top: .1cm;
    padding-bottom: .1cm;
    font-size:19px;
}

div#navbarSupportedContent.collapse.navbar-collapse{
    vertical-align: middle;
    padding-right: 15px;
}


.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #f38a00;
}

a.nav-link.dropdown-toggle{
    background-color: inherit;
    color: #ffffff;
}

a.nav-link.dropdown-toggle:hover{
    color:#f38a00;
}
ul.dropdown-menu.show{
    background: #130606;
    color: #FFF;
    padding-left: 0;
    width: 300px;
}

a.nav-link.dropdown-toggle.show{
    color: #FFF;
}

img.brand-image{
    padding-right:15px;
    padding-left:15px;
    width:70px;
    height: 40px;
    border-radius: 25px;
}

input.form-control{
    width:350px;
    font-size:14px;
}

/* Footer */

div.copyright{
    color: #ffffff;
}

div a.home-link{
    color: #ffffff;
}
/* Main Content starts here */
div.my-hero{
    position: relative;
    width: 100%;
    height: 65vh;
    background-image: url('../images/A2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.my-hero h1{
    font-size: 10rem;
    margin-top: -110px;
    position: absolute;
    color: #fff;
    z-index: 1;
    display: flex;
    
}

.my-hero p {
    position: absolute;
    font-size: 32px;
    margin-top: 70px;
    z-index: 1;
    color: #fff;
    display: flex;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    display: flex;
    margin-top: 220px;
}

div.my-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 13, 43, 0.904); /* Black overlay with 50% opacity */
    z-index: 0; /* Ensure the overlay is above the image */
}

div.about-us-container{
    background: #57576f45;
    width: 100%;
}
h3 span{
    color: #3d6df2;
    font-size: 48px;
}

p.detail-about{
    font-size: 22px;
}

a.link-to-course{
    font-size: 22px;
    margin-bottom: 10px;
}

/* Bootstrap icon for link to course */
i.bi.bi-arrow-right-circle-fill{
    font-size: 22px;
    color: #4f4ffb;
}

section.week-1{
    background-color: ;
}

.card img{
    width: 100%;
    height: 200px;
}

.card-text{
    font-size: 14px;
}
/* ===================================================== */
/* Media Queries */
@media (min-width: 769px) {
    .my-hero h1 {
        font-size: 42px;
        margin-top: -150px;
        position: absolute;
        color: #fff;
        z-index: 1;
        display: flex;
        text-align: center;
        padding-left: 15px;
    }
    .my-hero p {
        position: absolute;
        font-size: 28px;
        margin-top: 70px;
        z-index: 1;
        color: #fff;
        display: flex;
        font-weight: bold;
        text-align: center;
        padding-left: 15px;
    }
    .btn-primary {
        background-color: #007bff;
        color: #ffffff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        display: flex;
        margin-top: 220px;
    }
    ul.dropdown-menu.show{
        background: #2b0e01;
        color: #FFF;
        padding-left: 0;
        width: 100%;
    }
    }

@media (max-width: 768px) {
    .my-hero h1 {
        font-size: 32px;
        margin-top: -10px;
        position: absolute;
        color: #fff;
        z-index: 1;
        display: flex;
        text-align: center;
        padding-left: 15px;
    }
    .my-hero p {
        position: absolute;
        font-size: 20px;
        margin-top: 70px;
        z-index: 1;
        color: #fff;
        display: flex;
        font-weight: bold;
        text-align: center;
        padding-left: 15px;
    }
    .btn-primary {
        background-color: #007bff;
        color: #ffffff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        display: flex;
        margin-top: 180px;
    }
    ul.dropdown-menu.show{
        background: #2b0e01;
        color: #FFF;
        padding-left: 0;
        width: 100%;
    }
}

@media (min-width: 468px) {
    button.navbar-toggler.collapsed{
        padding-right: 45px;
    }
  }

@media (max-width: 467px) {
    a.navbar-brand h3{
        color:#fcd5a2;
        font-weight:light;
        font-style: italic;
        font-size: 19px;
    }

    img.brand-image{
        padding-right:15px;
        width:60px;
        height: 30px;
        border-radius: 5px;
    }
    button.navbar-toggler.collapsed{
        padding-right: 35px;
    }

   a.navbar-brand{
        padding-left: 5px;
    }

    div.my-hero{
        width: 100%;
        height: 45vh;
        padding-left:0;
        padding-right:0;
        margin:0;
    }
    input.form-control{
        width:100%;
        font-size:12px;
    }
    ul.dropdown-menu.show{
        background: #2b0e01;
        color: #FFF;
        padding-left: 0;
        width: 100%;
    }
    /* About Us */
    h1.about-us{
        font-size: 19px;
        padding: 0;
        margin:0;
    }
    p.detail-about{
        font-size: 16px;
    }
    .my-hero h1 {
        font-size: 19px;
        margin-top: -10px;
        position: absolute;
        color: #fff;
        z-index: 1;
        display: flex;
        text-align: center;
        padding-left: 15px;
    }
    .my-hero p {
        position: absolute;
        font-size: 16px;
        margin-top: 70px;
        z-index: 1;
        color: #fff;
        display: flex;
        font-weight: bold;
        text-align: center;
        padding-left: 15px;
    }
    .btn-primary {
        background-color: #007bff;
        color: #ffffff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        display: flex;
        margin-top: 180px;
    }

    h3 span{
    color: #3d6df2;
    font-size: 28px;

    video{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
